body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: ;
  border: 1px ;
}


.lichy {background-color: #a8add9;}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.footer {
  background-color: #f5f5f5;
}
